name: CI

on:
  pull_request:
  push:
    branches: [main, setup-ci]
  schedule:
    - cron: '0 8 * * 1' # At 8:00 on Monday

env:
  GIT_COMMIT_SHA: ${{ github.sha }}
  GIT_BRANCH: ${{ github.ref }}

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Set up Ruby 2.7
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7

      - name: Rubocop
        run: |
          bin/setup
          bin/ci-lint

  test:
    needs: [lint]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: ['2.5', '2.6', '2.7']

    steps:
      - uses: actions/checkout@v1

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}

      - name: Build
        run: |
          bin/setup

      - name: Test
        run: |
          bin/ci-test
